@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sf-medium";
  src: url(../fonts/sf-pro/SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
  font-family: "sf-regular";
  src: url(../fonts/sf-pro/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
  font-family: "sf-light-italic";
  src: url(../fonts/sf-pro/SFPRODISPLAYLIGHTITALIC.OTF);
}
@font-face {
  font-family: "sf-thin-italic";
  src: url(../fonts/sf-pro/SFPRODISPLAYTHINITALIC.OTF);
} {
  
}

body{
  background-color: #000300;
}